<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>前台</title>
    <link href="../static/css/tether.min.css" th:href="@{/css/tether.min.css}" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Font-Awesome CSS -->
    <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet">

    <!-- NProgress CSS -->
    <link href="../static/css/nprogress.css" th:href="@{/css/nprogress.css}" rel="stylesheet">

    <!-- thinker-md CSS -->
    <link href="../static/css/thinker-md.vendor.css" th:href="@{/css/thinker-md.vendor.css}" rel="stylesheet">

    <!-- bootstrap tags CSS -->
    <!--<link href="../static/css/bootstrap-tagsinput.css" th:href="@{/css/jquery.tagsinput.min.css}" rel="stylesheet">-->

    <!-- bootstrap chosen CSS -->
    <link href="../static/css/component-chosen.min.css" th:href="@{/css/component-chosen.min.css}" rel="stylesheet">
    <!---->
    <!--toastr CSS -->
    <link href="../static/css/toastr.min.css" th:href="@{/css/toastr.min.css}" rel="stylesheet">

    <!-- jQuery image cropping plugin CSS -->
    <link href="../static/css/cropbox.css" th:href="@{/css/cropbox.css}" rel="stylesheet">

    <!-- Custom styles -->
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">
    <link href="../static/css/thymeleaf-bootstrap-paginator.css" th:href="@{/css/thymeleaf-bootstrap-paginator.css}"
          rel="stylesheet">
    <link href="../static/css/blog.css" th:href="@{/css/blog.css}" rel="stylesheet">

    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="panel panel-default">
    <div class="panel-heading">预定转入住</div>
    <div class="col-lg-6">
        <form th:action="@{ '/clerk/live' + ${userModel.clerk.id} }" class="input-group">
            <input type="text" class="form-control" placeholder="输入预定手机号">
            <span class="input-group-btn">
                <button type="submit" class="btn btn-default" ">查询</button>
            </span>
        </form>

        <div class="form-group col-md-5">
            <label th:if="*{userModel.messageFromLive} ne null" th:text="*{userModel.messageFromLive}" >
        </div>

    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">结账</div>
    <div class="col-lg-6">

        <div class="input-group">
            <input type="text" class="form-control" placeholder="输入入住手机号">
            <span class="input-group-btn">
                <a class="btn btn-default" >查询</a>
            </span>
        </div>

        <div class="form-group col-md-5">
            <label th:if="*{userModel.messageFromLeave} ne null" th:text="*{userModel.messageFromLeave}" >
        </div>

    </div>
</div>


</body>
</html>