<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>房间预定</title>
    <link href="../static/css/tether.min.css" th:href="@{/css/tether.min.css}" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Font-Awesome CSS -->
    <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet">

    <!-- NProgress CSS -->
    <link href="../static/css/nprogress.css" th:href="@{/css/nprogress.css}" rel="stylesheet">

    <!-- thinker-md CSS -->
    <link href="../static/css/thinker-md.vendor.css" th:href="@{/css/thinker-md.vendor.css}" rel="stylesheet">

    <!-- bootstrap tags CSS -->
    <!--<link href="../static/css/bootstrap-tagsinput.css" th:href="@{/css/jquery.tagsinput.min.css}" rel="stylesheet">-->

    <!-- bootstrap chosen CSS -->
    <link href="../static/css/component-chosen.min.css" th:href="@{/css/component-chosen.min.css}" rel="stylesheet">
    <!---->
    <!--toastr CSS -->
    <link href="../static/css/toastr.min.css" th:href="@{/css/toastr.min.css}" rel="stylesheet">

    <!-- jQuery image cropping plugin CSS -->
    <link href="../static/css/cropbox.css" th:href="@{/css/cropbox.css}" rel="stylesheet">

    <!-- Custom styles -->
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">
    <link href="../static/css/thymeleaf-bootstrap-paginator.css" th:href="@{/css/thymeleaf-bootstrap-paginator.css}"
          rel="stylesheet">
    <link href="../static/css/blog.css" th:href="@{/css/blog.css}" rel="stylesheet">

    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading">您的预订信息</div>
    <div class="panel-body align-content-center">

        <form class="form-horizontal" th:object="${userModel.roomOrderInfo}">
            <div class="form-group">
                <label class="col-sm-2 control-label">预订单号</label>
                <div class="col">
                    <p class="form-control-static" th:text="*{infoId}"></p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">姓名</label>
                <div class="col">
                    <p class="form-control-static" th:text="*{name}"></p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">电话</label>
                <div class="col">
                    <p class="form-control-static" th:text="*{tel}"></p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">房间号</label>
                <div class="col">
                    <p class="form-control-static" th:text="*{roomId}"></p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">预定状态</label>
                <div class="col">
                    <p class="form-control-static" th:text="*{status}"></p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">预定时间</label>
                <div class="col">
                    <p class="form-control-static" th:text="*{orderTime}"></p>
                </div>
            </div>

        </form>

        <div class="container">
            <a class="btn btn-primary" th:href="@{'/member/list/' + ${userModel.user.id} }">返回</a>
            <a class="btn btn-primary" th:href="@{/login}">退出</a>
        </div>
    </div>
</div>


</body>
</html>