<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>转入住</title>
    <link href="../static/css/tether.min.css" th:href="@{/css/tether.min.css}" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Font-Awesome CSS -->
    <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet">

    <!-- NProgress CSS -->
    <link href="../static/css/nprogress.css" th:href="@{/css/nprogress.css}" rel="stylesheet">

    <!-- thinker-md CSS -->
    <link href="../static/css/thinker-md.vendor.css" th:href="@{/css/thinker-md.vendor.css}" rel="stylesheet">

    <!-- bootstrap tags CSS -->
    <!--<link href="../static/css/bootstrap-tagsinput.css" th:href="@{/css/jquery.tagsinput.min.css}" rel="stylesheet">-->

    <!-- bootstrap chosen CSS -->
    <link href="../static/css/component-chosen.min.css" th:href="@{/css/component-chosen.min.css}" rel="stylesheet">
    <!---->
    <!--toastr CSS -->
    <link href="../static/css/toastr.min.css" th:href="@{/css/toastr.min.css}" rel="stylesheet">

    <!-- jQuery image cropping plugin CSS -->
    <link href="../static/css/cropbox.css" th:href="@{/css/cropbox.css}" rel="stylesheet">

    <!-- Custom styles -->
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">
    <link href="../static/css/thymeleaf-bootstrap-paginator.css" th:href="@{/css/thymeleaf-bootstrap-paginator.css}"
          rel="stylesheet">
    <link href="../static/css/blog.css" th:href="@{/css/blog.css}" rel="stylesheet">

    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<!--Model 内容包括 clerk roomOrderInfo-->
<!--提示收取押金-->
<!--点击转入住按钮 页面跳转至live/{clerkId}/{infoId}-->
<!--随后页面跳转至 fontDeskIndex-->

<div class="panel panel-default">
    <div class="panel-heading">查看预定信息</div>
    <div class="panel-body align-content-center">

        <form class="form-horizontal" th:object="${userModel.roomOrderInfo}">
            <div class="form-group">
                <label class="col-sm-2 control-label">房间号</label>
                <div class="col">
                    <p class="form-control-static" th:text="*{roomId}"></p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">预定时间</label>
                <div class="col">
                    <p class="form-control-static" th:text="*{orderTime}"></p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">状态</label>
                <div class="col">
                    <p class="form-control-static" th:text="*{status}"></p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">预定人</label>
                <div class="col">
                    <p class="form-control-static" th:text="*{name}"></p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">预定手机号</label>
                <div class="col">
                    <p class="form-control-static" th:text="*{tel}"></p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">需交付押金</label>
                <div class="col">
                    <p class="form-control-static">1000</p>
                </div>
            </div>
        </form>
        <div class="container">
            <a class="btn btn-primary" th:href="@{'/member/live/' + ${userModel.clerk.clerkId} +'/'+ ${userModel.roomOrderInfo.roomId} }">转入住</a>
            <a class="btn btn-primary" th:href="@{/login}">退出</a>
        </div>

</body>
</html>